
include link.pug

mixin column(data)
    .column(class!=attributes.class)
        .column-content
            section.logo-wrapper
                +link(data.link, !data.primary)(class='logo')
                    - var srcset2x = data.logoPath.replace('.png', '@2x.png') + ' 2x'

                    img(src=data.logoPath alt=data.title srcset=srcset2x)

            .info
                .info-content
                    +link(data.link, !data.primary)(class='title')
                        = data.title
                    section.description
                        each paragraph in data.info
                            p(class=paragraph.class ? paragraph.class : false)!= paragraph.text

            section.links-wrapper
                .links
                    each l in data.links
                        - var iconLinks = l instanceof Array

                        .link-wrapper(
                            class=l.class ? l.class : false
                            class=iconLinks ? 'icon-links' : false)

                            if iconLinks
                                each icon in l
                                    +link(icon.href, true)
                                        i.fa.fa-fw(class=icon.icon)
                            else
                                +link(l.href, true)
                                    i.fa.fa-fw(class=l.icon)
                                    = l.text
